[Desktop Entry]
Name=SyncThing
Comment=synchronize things across computers
Exec=/bin/sh -c "$HOME/bin/syncthing"
Icon=syncthing
Terminal=false
Type=Service
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Utility;Network;
X-Purism-FormFactor=Workstation;Mobile;
